
body {
                font-family: "Roboto";
                background: #7474BF;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
 
h1 {
                background-color: #2980B9;
                color:white;
                margin: 0;
                padding:10px 20px;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: normal;
}
 
span.todofront {
                background-color: #E74C3C;
                height: 40px;
                margin-right:20px;
                text-align: center;
                color: white;
                width: 0px;
                display: inline-block;
                transition: 0.3s linear;
                opacity:0;
}
 
li:hover span.todofront {
                width: 40px;
                opacity:1.0;
}
 
li {
                background-color: #FFF;
                height: 40px;
                line-height: 40px;
                color:#666;
}
li:nth-child(2n) {
                background-color: #F7F7F7;
}
 
.fa-plus{
                float: right;
}
 
input{
                font-size: 18px;
                color:#2980B9;
                background-color: #F7F7F7;
                width:100%;
                padding: 13px 13px 13px 20px;
                box-sizing: border-box;
                border:3px solid rgba(0, 0, 0, 0);
}
 
input:focus{
                background-color: #FFF;
                border:3px solid #2980B9;
                outline: none;
}
 
#container{
                width:360px;
                margin: 100px auto;
                background-color: #F7F7F7;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
 
.selected{
                color: gray;
                text-decoration: line-through;
}
 
ul{
                list-style: none;
                margin: 0;
                padding: 0;
}
