@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

a {
  text-decoration: none;
}

h3{
  margin: 10;
  font-size: 24px;
}

#intro{
  text-align: center;
  color: rgba(255,255,255,0.7);
  margin: auto;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-underline-text {
  position:relative;
  font-size:50px;
}

.custom-underline-text,
.custom-underline-text:focus,
.custom-underline-text:active{
  color: #f90;
  text-decoration:none;
}
.custom-underline-text:hover {
  color: rgba(255,255,255,0.1);
  transition:.8s ease all;
}

.custom-underline-text::after{
    content:"";
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    transition:.1s ease-in all;
}

.custom-underline-class .custom-underline-text::after{
    top:120%;
    height:5px !important;
    width:45%;
    left:55%;
}

.custom-underline-class:hover .custom-underline-text::after{
    width:100%;
    left:0%;
    background-color: #f90;
    transition:.8s ease all;
}

@media only screen
and (max-width : 420px) {
  h3{
    font-size: 10px !important;
  }
  .custom-underline-text {
    font-size:18px !important;
  }
  .custom-underline-class .custom-underline-text::after{
      height:1px !important;
}
}

@media only screen
and (min-width : 420px)
and (max-width : 1224px) {
  h3{
    font-size: 14px !important;
  }
  .custom-underline-text {
    font-size:30px !important;
  }
  .custom-underline-class .custom-underline-text::after{
      height:2px !important;
}

@media only screen
and (min-width : 1224px) {
  h3{
    font-size: 14px !important;
  }
  .custom-underline-text {
    font-size:30px !important;
  }
  .custom-underline-class .custom-underline-text::after{
      height:3px !important;
}
